* {
  font-family: "Roboto", monospace;
}

window {
  background-color: rgba(59, 66, 82, 0.85);
  border-radius: 10px;
  border: 10px;
  border-color: #e1e1e1;
}

window #input {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(32, 32, 32, 0.85);
  color: white;
}

#inner-box {
  background-color: rgba(32, 32, 32, 0.85);
}

#outer-box {
  margin: 2px;
  /* padding: 10px; */
  background-color: rgba(32, 32, 32, 0.85);
  border-radius: 10px;
  border: 10px;
  border-color: #e1e1e1;
}

#scroll {
  margin: 5px;
}

#text {
  margin-left: 20px;
  /* padding: 4px; */
  color: white;
}

#text:selected {
  margin-left: 20px;
  /* padding: 4px; */
  color: black;
}

/* #entry:nth-child(even) {
    background-color: #404552;
} */

#entry {
  padding: 4px;
  background-color: rgba(32, 32, 32, 0.85);
}

#entry:selected {
  /* background-color: #6dd7ff; */
  background-color: #ea6398;
  color: black;
  /* padding: 12px; */
  border-radius: 6px;
  border: 10px;
  border-color: #e1e1e1;
}

#text:selected {
  background: transparent;
}