* {
    font-family: "Roboto", monospace;
}

window {
    background-color: rgba(59, 66, 82, 0.15);
    border-radius: 10px;
    border: 10px;
    border-color: #e1e1e1;
}

window #input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(32, 32, 32, 0.15);
    color: white;
}

#inner-box {
    background-color: rgba(32, 32, 32, 0.15);
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: rgba(32, 32, 32, 0.15);
    border-radius: 10px;
    border: 10px;
    border-color: #e1e1e1;
}

#scroll {
    margin: 5px;
}

#text {
    margin-left: 20px;
    padding: 4px;
    color: white;
}

/* #entry:nth-child(even) {
    background-color: #404552;
} */

#entry {
    padding: 12px;
    background-color: rgba(32, 32, 32, 0.15);
}

#entry:selected {
    background-color: rgba(53, 53, 53, 0.3);
    padding: 12px;
    border-radius: 15px;
    border: 10px;
    border-color: #e1e1e1;
}

#text:selected {
    background: transparent;
}
